[submodule "sw-demo/ST7789"]
	path = sw-demo/ST7789
	url = https://github.com/devbis/st7789py_mpy
[submodule "sw-demo/MQTT"]
	path = sw-demo/MQTT
	url = https://github.com/peterhinch/micropython-mqtt
[submodule "sw-demo/mp-mqtt"]
	path = sw-demo/mp-mqtt
	url = https://github.com/kevinkk525/micropython-mqtt
